<% include ./layouts/header.ejs %>

<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
        <div class="content-header col-lg-5">
            <h3>DANH SÁCH CATEGORY</h3>
        </div>
    </div>
    <div class="row">
        
        <div class="content-body col-lg-12">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hình ảnh</th>
                        
                        <th>Giá</th>
                        <th>Giảm giá</th>
                        <th>Số lượng</th>
                        <th>Nhà sản xuất</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% pro.forEach(pro => {%>
                            <tr>
                                <td><%= pro.ten %></td>
                                <% let img = pro.hinh_anh.split(',') %>  
                                <td>
                                    <img src="<%= img[0] %>" alt="" height="200px" width="200px">
                                    
                                </td>
                                <td><%= pro.gia %></td>
                                <td><%= pro.giam_gia %></td>
                                <td><%= pro.so_luong %></td>
                                <td><%= pro.id_nsx %></td> 
                               
                                <td>
                                    <a href="/admin/product/<%= cateAlias %>/<%= pro.id %>"><button class="btn btn-primary">Sửa</button></a>
                                    <a href="/admin/product/xoa/<%= cateAlias %>/<%= pro.id %>" onclick="return confirm('Bạn có muốn xóa?')"><button  class="btn btn-danger">Xóa</button></a>
                                </td>
                                
                            </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
</div>


<% include ./layouts/footer.ejs %>